/* SASS IMPORTS */
$wht: #fff;
$blk: #0d0d0f;
$red: #e51d13;
$pch: #f28f87;
$grn: #2db976;
$l-grn: #bbfaab;
$d-grn: #38704c;
$gry: #e9e9e9;
$l-gry: #f4f4f4;
$d-gry: #727272;

$blk-t: rgba(0, 0, 0, 0.5);

/* FONTS
/* $font-lgt: Kelson-Light;
/* $font-reg: Kelson;
/* $font-med: Kelson-Medium;
/* $font-bld: Kelson-Bold;
*/