/* SASS IMPORTS */
@import 'variables';
@import 'mixins';

* {
	@include reset(0, 0, border-box, none, none);
}

html,
body {
  height: 100%;
}

body {
	background: $white;
	display: flex;
  flex-direction: column;
}

a {
	color: $grey;
	&:hover {
		color: $red;
		text-decoration: none;
	}
}

.container-fluid {
  max-width: 1200px;
	flex: 1 0 auto;
}
