/* SASS IMPORTS */
@import 'variables';
@import 'mixins';

* {
	@include reset(0, 0, border-box, none, none);
}

html,
body {
  height: 100%;
}

body {
	background: $white;
	display: flex;
  flex-direction: column;
}

a {
	color: $grey;
	&:hover {
		color: $red;
		text-decoration: none;
	}
}

h1 {
	text-transform: uppercase;
	color: $red;
	font-size: 3em;
	font-weight: 500;
	text-align: center;
	margin: 20px 0;
}