/* SASS IMPORTS */
@import 'variables';
@import 'mixins';

/* container –––––––––––––––––––––––––– */
.container-fluid {
	max-width: 1200px;
	flex: 1 0 auto;
}

/* content –––––––––––––––––––––––––––– */
.content-area {
	margin: 20px 0;
}

/* single content */
.content-area-single {
	margin: 20px auto;
	display: flex;
	justify-content: center;
}

.single-row {
	max-width: 600px;
}

.single-row a {
	color: $red;
}
.single-row article {
	column-count: 1;
}

/* article –––––––––––––––––––––––––––– */
article{
	column-count: 2;
	column-gap: 3em;
	column-rule: 1px solid $light-grey;
}

/* img –––––––––––––––––––––––––––––––– */
/*  featured img */
.featuredImgWrap {
	width: 100%;
	height: 500px;
	margin-bottom: 20px;
}

.featuredImg {
	height: 500px;
}

/* single post img */
.singlePostImg {
	width: 100%;
}

/* thumbnail img */
.thumbnailWrap {
	margin-bottom: 20px;
	width: 100%;
}

.thumbnailImg {
	height: 400px;
}

/* cards –––––––––––––––––––––––––––––– */
.card {
	margin-bottom: 20px;
}

/* media –––––––––––––––––––––––––––––– */
@media (max-width: 576px) {
	article{
		column-count: 1;
	}
}