/* SASS IMPORTS */
$white: #fff;
$black: #0d0d0f;
$red: rgb(237, 28, 36);
$peach: rgb(255, 116, 106);
$grey: #2b2b2b;
$light-grey: #e7e7e7;

$black-t: rgba(0, 0, 0, 0.5);

/* FONTS
/* $font-lgt: Kelson-Light;
/* $font-reg: Kelson;
/* $font-med: Kelson-Medium;
/* $font-bld: Kelson-Bold;
*/