/* SASS IMPORTS */
@import 'variables';
@import 'mixins';

/* container –––––––––––––––––––––––––– */
.container-fluid {
  max-width: 1200px;
	flex: 1 0 auto;
}

/* content –––––––––––––––––––––––––––– */
.content-area {
	margin: 2em 0;
}

/* single content */
 .content-area-single {
	 margin: 2em auto;
 }
 
 /* img –––––––––––––––––––––––––––––––– */ 
/* single post img */
.singlePostImg {
	width: 100%;
}

/* thumbnail img */
.thumbnailWrap {
  margin-bottom: 20px;
}

.thumbnailImg {
	height: 400px;
}
