/* SASS IMPORTS */
@import 'variables';
@import 'mixins';

/* content */
.content-area {
	margin: 2em 0;
}

/* img */
/* single post img */
.singlePostImg {
	width: 100%;
}

/* thumbnail img */
.thumbnailWrap {
  margin-bottom: 20px;
}

.thumbnailImg {
	height: 400px;
}
