/* SASS IMPORTS */
@import 'variables';
@import 'mixins';

/* nav */
.navWrap {
  display: flex;
}

.navbar img {
  max-height: 50px;
  max-width: 300px;
}

.navbar-dark {
  background: #ffffff;
  border-bottom: 3px solid #b3b3b3;
}

.navbar a {
  color: $grey !important;
  &:hover{
    color: $red !important;
  }
}